/* body {

    font: 12px;


    background-color: #ffffff;

    } */

li{

    font-size:15px;


    text-align:left;
}
h1{

    color:Blue;
    background-color:#dee8fa;
    text-align:left;
    width:1000px;
    height: 50px;
    margin-bottom: 50px;
    padding:20px;
    border-radius: 50px 50px 0 0;
    font-family:'Courier New', Courier, monospace;

}
h2{
    font-family:'Courier New', Courier, monospace;
}

.datos{

    background-color:#dee8fa;
    width:500px;
    height: 200px;
    margin-bottom: 50px;
    padding:20px;
    box-shadow: 15px 10px 10px black;
    border-radius: 20px; 

}
.formacion{

    background-color:#dee8fa;
    width:500px;
    height: 300px;
    margin-bottom: 50px;
    padding:20px;
    box-shadow: 15px 10px 10px black;
    border-radius: 20px; 

}
.experiencia{

    background-color:#dee8fa;
    width:500px;
    height: 300px;
    margin-bottom: 50px;
    padding:20px;
    box-shadow: 15px 10px 10px black;
    border-radius: 20px; 

}
.contacto{

    background-color:#dee8fa;
    width:500px;
    height: 200px;
    margin-bottom: 50px;
    padding:20px;
    box-shadow: 15px 10px 10px black;
    border-radius: 20px; 

}

img {
        display:block;
        margin:auto;
}

    form {
        margin: 0 auto;
        width: 400px;
        padding: 10px;
        border: 2px solid black;
        border-radius: 20px;
        background-color:#dee8fa;
      }
.boton{
    align-items: center;
}
.icono{
    font-size:50px;
}